body {
    background-color: #007AFF !important;
}

.container {
    background-color: #007AFF !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.px {
    height: 150px;
    object-fit: cover;
}

.btn :hover {
    background-color: #0074f0;
}

.btn:focus {
    border: 1px solid black;
}

.btn-div {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 25px;
}

.card {
    width: 100% !important;
}

.btn-child {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}

.container-fluid {
    justify-content: center !important;
}

.alert {
    border: 1px solid rgb(0 0 0 / 20%);
    cursor: pointer !important;
}

.alert:hover {
    background-color: rgb(0 0 0 / 4%);
}

.bg-success,
.bg-danger {
    color: white;
}

.show-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}